header {
	background-color: #f8fcfc;
	display: flex;
	justify-content: space-between;
}

header p {
	background-color: #f0f0f0;
	padding: 10px;
}

#gameBoard {
	flex: auto;
	overflow-y: scroll;
}

#foot {
	background-color: #f8fcfc;
	padding: 10px;
	display: flex;
	justify-content: center;
}

#foot button {
	font-size: 1.5em;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}
